[user]
	email = {{ .email }}
	name = {{ .name }}

[core]
	pager = delta
	autocrlf = input

[color]
	ui = true

[delta]
	navigate = true
	side-by-side = true
	line-numbers = true

[diff]
	tool = vimdiff

[difftool]
	prompt = false
	trustExitCode = true

[interactive]
	diffFilter = delta --color-only

[merge]
	conflictstyle = zdiff3

[alias]
	change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f"

[init]
	defaultBranch = main

[credential]
	helper = {{ if eq .chezmoi.os "darwin" }}osxkeychain{{ else }}store{{ end }}

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true